<form id="comment-form" style="margin: 0 1rem 1rem 1rem;">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="selectGroup">Выбор группы:</label>
            <select class="form-control" id="selectGroup">
                <option selected>---------</option>
                {% for group in groups %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% empty %}
                    <option disabled>У вас нет групп.</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="selectStudent">Выбор студента:</label>
            <select class="form-control" id="selectStudent">
                <option>--------</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="selectSubject">Выбор предмета:</label>
        <select class="form-control" id="selectSubject">
            <option>--------</option>
        </select>
    </div>
    <hr>
    <div class="form-part">
        <div id="checkboxes">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="irresponsible" onclick="toggle_checkbox(this, 'responsible')" value="irresponsible">Безответственный
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="curious" value="curious">Любознательный
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="good_theme" value="good_theme">Отлично разобрался в теме
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="responsible" onclick="toggle_checkbox(this, 'irresponsible')" value="responsible">Отвественный
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bad_hw" onclick="toggle_checkbox(this, 'good_hw')" value="bad_hw">Не выполняет дз
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="smart" value="smart">Умный
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="active" onclick="toggle_checkbox(this, 'distracted')" value="active">Активный
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="bad_action" onclick="toggle_checkbox(this, 'good_action')" value="bad_action">Полохое поведение
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="creative" value="creative">Креативный
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="good_hw" onclick="toggle_checkbox(this, 'bad_hw')" value="good_hw">Положительное дз
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="good_action" onclick="toggle_checkbox(this, 'bad_action')" value="good_action">Положительное поведение
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="hardworker" value="hardworker">Трудолюбивость
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="distracted" onclick="toggle_checkbox(this, 'active')" value="distracted">Отвлекается
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="commentText">Текст комментария: </label>
                <textarea class="form-control" id="commentText" rows="3"></textarea>
            </div>
        </div>
        <hr>
        <button type="button" onclick="generate_comment(event);" class="btn btn-secondary">Generate</button>
        <button type="submit" class="btn btn-success">Send</button>
    </div>
</form>
<script>
    $('select#selectStudent').on('change', function () {
        get_subjects_and_comments(this.value);
    });
    $('select#selectGroup').on('change', function () {
        get_students_of_group(this.value);
    });
    $('select#selectSubject').on('change', function () {
        get_subject(this.value);
    });
    $('#comment-form').on('submit', function (event) {
        send_comment(event);
    })
</script>

