{% extends  'base.html' %}
{% load static %}

{% block title %}Teacher Portal | Comments {% endblock %}

{% block main %}
    <h1 class="my-4">Comments</h1>
    <p>Здесь будут комментарии</p>
    <hr>


{% endblock %}

{% block add_script %}
    <script>
        $('#login-form').on('submit', function (event) {
            event.preventDefault();
            logbook_login("comments");
        });
    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}