{% extends  'base.html' %}
{% load static %}
{% block title %}Teacher Portal | Contact Us {% endblock %}

{% block main %}
    <h1 class="my-4">Send us a Message</h1>
    <p>Форма для связи</p>
    <p>Опишите проблему или пожелание для улучшения сервиса =)</p>
    <hr>
    <div class="row">
        <div class="col-lg-8 mb-4">
            <form name="sendMessage" id="contactForm" novalidate>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>ФИО:</label>
                        <input type="text" class="form-control" id="name" required
                               data-validation-required-message="Please enter your name.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Email:</label>
                        <input type="email" class="form-control" id="email" required
                               data-validation-required-message="Please enter your email address.">
                    </div>
                </div>
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Сообщение:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required
                                  data-validation-required-message="Please enter your message" maxlength="999"
                                  style="resize:none"></textarea>
                    </div>
                </div>
                <button type="submit" onsubmit="submit_contact_form(event);" class="btn btn-primary"
                        id="sendMessageButton">Отправить
                </button>
            </form>
        </div>
    </div>
{% endblock %}
{% block  add_script %}
    <script src="{% static 'js/contact_me.js' %}"></script>
{% endblock %}
