<div class="form-group">
    <label for="student-select">Выберите студента</label>
    <select class="form-control" id="student-select">
        <option selected>--------</option>
        {% for item in data %}
            <option data-login="{{ item.login }}" data-password="{{ item.password }}"
                    value="{{ item.id }}">{{ item.name }}</option>
        {% endfor %}
    </select>
</div>
<div class="form-group">
    <dl class="row" id="result"></dl>
</div>
<script>
    $('#student-select').on('change', function () {
        let $selected = $(this).find('option:selected');
        console.log($(this).find(':selected').attr('data-id'))
        $('#result').html("<dt class='col-sm-3'>Login:</dt><dd class='col-sm-9'>"+$selected.data('login')+"</dd>" +
            "<dt class='col-sm-3'>Password</dt><dd class='col-sm-9'>"+$selected.data('password')+"</dd>")
    });
</script>
