<div class="form-row">
    <div class="form-group">
        <label for="group-select">Выберите группу</label>
        <select class="form-control" id="group-select">
            <option selected>---------</option>
            {% for item in data %}
                <option value="{{ item.id }}">{{ item.name }}</option>
            {% empty %}
                <option disabled>У вас нет групп.</option>
            {% endfor %}
        </select>
    </div>
</div>

<div class="form-group col-md-9" id="students"></div>

<script>
    $('#group-select').on('change', function () {
        get_students(this.value);
    });
</script>