{% extends  'base.html' %}
{% load static %}
{% block title %}Teacher Portal | Password {% endblock %}

{% block main %}
    <h1 class="my-4">Passwords</h1>
    <p>Поиск забытого студентом пароля от Mystat.</p>
    <p>
        Как это сделать:
    </p>
    <ol>
        <li>Залогиньтесь с доступами от <a href="https://logbook.itstep.org/">Logbook</a></li>
        <li>Выберите группу</li>
        <li>Выберите студента</li>
        <li>Готово</li>
    </ol>
    <hr>
    <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title text-center mb-4 mt-1">Log in</h4>
                    <hr>
                    <div id="error"></div>
                    <form method="post" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                </div>
                                <input id="login" class="form-control" placeholder="Login" type="text">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                </div>
                                <input class="form-control" id="password" placeholder="******" type="password">
                            </div> <!-- input-group.// -->
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Login</button>
                        </div> <!-- form-group// -->
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div>
{% endblock %}

{% block add_script %}
    <script>
        $('#login-form').on('submit', function (event) {
            event.preventDefault();
            logbook_login('{{ csrf_token }}');
        });
    </script>
    <script src="{% static 'js/ajax.js' %}"></script>
{% endblock %}