<label for="student-select">Выберите студента</label>
<select class="form-control" id="student-select">
    <option selected>--------</option>
    {% for item in data %}
        <option data-login="{{ item.login }}" data-password="{{ item.password }}"
                value="{{ item.id }}">{{ item.name }}</option>
    {% endfor %}
</select>

<div class="form-group" style="margin-top: 20px;">
    <dl class="row" id="result"></dl>
</div>

<script>
    $('#student-select').on('change', function () {
        let $selected = $(this).find('option:selected');
        $('#result').html("<dt class='col-sm-3'>Login:</dt><dd class='col-sm-9'>" + $selected.data('login') + "</dd>" +
            "<dt class='col-sm-3'>Password</dt><dd class='col-sm-9'>" + $selected.data('password') + "</dd>")
    });
</script>
